#clock{
    font-family: 'Orbitron', sans-serif;
    font-size: 130px;
    color: #f1ffc9;
    letter-spacing: .1em;
}


body{
    background-color: #0d0f10;
    text-align: center;
}
h1{
    color: #f1ffc9;
    font-size: 4em;
}

#clockDiv{
    border: white solid;
}

#twelveHour, #twentyFourHour{
    font-family: 'orbitron', sans-serif;
    display: inline-block;
    border: none;
    padding: 3rem 3rem;
    margin: 0;
    text-decoration: none;
    background: #0d0f10;
    color: #f1ffc9;

    font-size: 3rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}